# Arquivos de log e dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Virtual Environment
venv/
*/venv/
.venv/
*/.venv/
env/
*/env/
.env/
*/.env/
ENV/
*/ENV/
.env.*

# Arquivos de ambiente - NUNCA ENVIE ISSO!
.env
.env.*

# Arquivos de build do front-end (Vite)
dist/
dist-ssr/
.output/

# Arquivos de banco de dados do Prisma (SQLite)
*.db
*.db-journal

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# ------------------------------------------------------------------
# Arquivos de desenvolvimento QOTA a serem ignorados (Adicionado Agora)
# ------------------------------------------------------------------


# Ignora pastas específicas de componentes do Módulo Calendário no frontend
TCC-Front_Web/src/components/calendar/

# Ignora arquivos específicos de rotas e páginas que você está modificando
TCC-Front_Web/src/pages/CalendarPage.jsx
TCC-Front_Web/src/pages/ReservationDetailsPage.jsx
TCC-Front_Web/src/components/calendar/ChecklistForm.jsx
TCC-Front_Web/src/components/calendar/ChecklistHistory.jsx
TCC-Front_Web/src/components/calendar/ReservationModal.jsx
TCC-Front_Web/src/components/calendar/RulesHelpModal.jsx
TCC-Front_Web/src/components/calendar/SchedulingRules.jsx
TCC-Front_Web/src/components/financial/AddExpenseModal.jsx
TCC-Front_Web/src/components/financial/CurrencyInputField.jsx
TCC-Front_Web/src/components/financial/ExpenseDetailsModal.jsx
TCC-Front_Web/src/components/financial/ExpenseTable.jsx
TCC-Front_Web/src/components/financial/FinancialStats.jsx
